/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: rgb(117, 117, 117);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
}

aside {
    width: 55rem;
    height: 100%;
    background-color: #968f8f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside > div {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    width: 100%;
    height: 8rem;
    border-top: 0;
    border-right: 0;
    border-left: 2px solid #777272;
    border-bottom: 1px solid #777272;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside > div > p {
    text-align: center;
}

aside > form {
    width: 100%;
    height: 4rem;
}

aside > form > button {
    width: 100%;
    height: 100%;
    background-color: #968f8f;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside > form > button > i {
    position: absolute;
    left: 1rem;
    font-size: 3rem;
}

aside > form > button > i:nth-of-type(2) {
    opacity: 0%;
}

aside > form > button:hover > i:nth-of-type(1){
    opacity: 0%;
    transition: opacity 0.15s linear 0s;
}

aside > form > button:hover > i:nth-of-type(2) {
    opacity: 100%;
    transition: opacity 0.15s linear 0s;
}



aside > form:nth-of-type(1) > button {
    border-top: 1px solid #777272;
    border-right: 0;
    border-left: 2px solid #777272;
    border-bottom: 1px solid #777272;
}

aside > form:nth-of-type(2) > button {
    border-top: 1px solid #777272;
    border-right: 0;
    border-left: 2px solid #777272;
    border-bottom: 2px solid #777272;
}

aside > form > button:hover {
    background-color: #857e7e;
    transition: background-color 0.15s linear 0s;
}

aside > form > button:active {
    background-color: #777272;
    transition: background-color 0.05s linear 0s;
}

main {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.projects {
    background-color: rgb(240, 240, 240);
    padding: 5rem;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 7rem;

}

.project {
    width: 25%;
    height: 40%;
    background-color: rgb(187, 187, 187);
    border: 3px solid #777272;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    cursor: pointer;
}

.project img {
    width: 90%;
    height: 80%;
    border: 2px solid #777272;
    margin-bottom: 0.5rem;
}

.project:hover {
    background-color: #b3acac;
    transform: translateY(-0.25rem);
    transition: all 0.2s linear 0s;
}

.project:active {
    background-color: #857f7f;
    transition: background-color 0.05s linear 0s;
}