/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: rgb(117, 117, 117);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

form {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid gray;
    background-color: lightgray;
}

#information {
    display: flex;
    justify-content: space-around;
    height: 8rem;
}

#labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label:nth-of-type(1) {
    margin-top: 0.25rem;
}

label:nth-of-type(2) {
    margin-bottom: 0.25rem;
}


input {
    height: 3rem;
    width: 20rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    border: 2px solid gray;
}

#account {
    display: flex;
    justify-content: space-evenly;
}

a {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

button {
    width: 20rem;
    height: 5rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    border: 2px solid gray;
}

button:hover {
    background-color: darkgray;
    transform: translateY(-0.2rem);
    transition: all 0.15s linear 0s;
}

button:active {
    background-color: gray;
    transform: translateY(-0.2rem);
    transition: all 0.05s linear 0s;
}

#incorrect {
    display: none;
    justify-content: center;
}

#warning {
    font-size: 2rem;
    background-color: red;
    width: 80%;
    height: 3rem;
    border: 2px solid darkred;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}